
# # üçΩÔ∏è Tips Dataset Analysis
# This notebook demonstrates how to calculate the **range**

In [1]:
# --- Step 1: Import Libraries ---
import pandas as pd

In [2]:
# --- Step 2: Load Dataset ---
dataset = pd.read_csv("tips.csv")

In [3]:
# Preview first 3 rows
dataset.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [4]:
# --- Step 3: Calculate Minimum and Maximum ---
min_total_bill = dataset["total_bill"].min()
max_total_bill = dataset["total_bill"].max()

In [5]:
print(f"Minimum total bill: {min_total_bill}")
print(f"Maximum total bill: {max_total_bill}")

Minimum total bill: 3.07
Maximum total bill: 50.81

In [6]:
# --- Step 4: Calculate Range ---
total_bill_range = max_total_bill - min_total_bill
print(f"Range of total bill: {total_bill_range}")

Range of total bill: 47.74